<header>
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
        <ul>
            <li><a class="btn" href="/">Home</a></li>
            <li><a class="btn"href="/locations">Locations</a></li>
            <li><a class="btn"href="/logout">logout</a></li>
        </ul>
    </nav>
</header>