<header>
  <nav>
    <ul>
      <li><a class="btn" href="/">Home</a></li>
      <li><a class="btn" href="/search">Search</a></li>
      <li><a class="btn" href="/departments">Departments</a></li>
      <li><a class="btn" href="/locations">Locations</a></li>
      <li><a class="btn" href="/events">Events</a></li>
      <li><a class="btn" href="/feedback">Feedback</a></li>
      <li><a class="btn" href="/logout">Logout</a></li>
    </ul>
  </nav>
</header>