<form action="/events" id="event-create-form" method="POST">
    <label for="event_name">Name</label>
    <br>
    <input class="form-input" id="event_name" name="event_name" type="text" placeholder="Name" value={{event_name}}>
    <br>
    
    <label for="event_desc">Description</label>
    <br>
    <input class="form-input" id="event_desc" name="event_desc" type="text"
        placeholder="Description" value={{event_desc}}> 
    <br>

    <label for="event_type">Event Type*</label>
    <br>
    <select class="form-input" name="event_type" id="event_type">
        <option value="#">Select Type</option>
        <option value="Class">Class</option>
        <option value="Event">Event</option>
    </select>
    <br>

    <label for="event_start_date">Start Date</label>
    <br>
    <input class="form-input" id="event_start_date" name="event_start_date" type="date" placeholder="Date">
    <br>

    <label for="event_end_date">End Date</label>
    <br>
    <input class="form-input" id="event_end_date" name="event_end_date" type="date" placeholder="Date">
    <br>

    <label for="event_days">Event Days*. Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</label>
    <br>
    <select class="form-input" name="event_days" id="event_days" multiple>
        <option value="1">Monday</option>
        <option value="2">Tuesday</option>
        <option value="3">Wednesday</option>
        <option value="4">Thursday</option>
        <option value="5">Friday</option>
        <option value="6">Saturday</option>
        <option value="7">Sunday</option>
    </select>
    <br>


    <label for="opening_hours">Opening Hours</label>
    <br>
    <input class="form-input" id="opening_hours" name="opening_hours" type="time" min="00:00:00" max="23:59:59" step="1">
    {{!-- placeholder="[&quot;hh:mm:ss&quot;, &quot;hh:mm:ss&quot;]" --}}
    <br>

    <label for="closing_hours">Closing Hours</label>
    <br>
    <input class="form-input" id="closing_hours" name="closing_hours" type="time" min="00:00:00" max="23:59:59" step="1">
    <br>

    <label for="location_id">Location*</label>
    <br>
    <select class="form-input" name="location_id" id="location_id">
        <option value="#">Select Location</option>
        {{#each location}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>
    <br>

    <input type="submit" class="submit-button" value="Create"></input>
</form>