<form action="/locations" id="location-create-form" method="POST">
    <label for="location_name">Name</label>
    <br>
    <input class="form-input" id="location_name" name="location_name" type="text" placeholder="Name" value={{location_name}}>
    <br>
    
    <label for="location_desc">Description</label>
    <br>
    <input class="form-input" id="location_desc" name="location_desc" type="text"
        placeholder="Description" value={{location_desc}}> 
    <br>

    <label for="location_type">Location Type</label>
    <br>
    <input class="form-input" id="location_type" name="location_type" type="text" placeholder="Type of this Location">
    <br>

    <label for="operating_hours">Operating Hours</label>
    <br>
    <input class="form-input" id="operating_hours" name="operating_hours" type="text" placeholder="[hh:mm:ss, hh:mm:ss]">
    <br>

    <label for="location">Location Coordinates</label>
    <br>
    <input class="form-input" id="location" name="location" type="text" placeholder="GeoJson of Location">
    <br>

    <label for="location_entrances">Entrances Coordinates</label>
    <br>
    <input class="form-input" id="location_entrances" name="location_entrances" type="text" placeholder="GeoJson of Entrances">
    <br>

    <input type="submit" class="submit-button" value="Create"></input>
</form>