
<section class="container">
  <h1>Departments</h1>
  <p>Department List</p>
  <div id="department-results" class="container align-items-center">
    <div id="department-container">
    </div>
    <div id="pagination"></div>
  </div>
</section>
<script src="/public/js/departments.js"></script>