<section class="container">
  <h1>Feedback</h1>
  <form action="#" method="POST" id="feedback-form">
      
    <br>
      <label for="object_type">Object type: </label>
      <select id="object_type" class="form-input">
        <option value="#">Select Value</option>
        <option value="departments">Departments</option>
        <option value="locations">Locations</option>
        <option value="events">Events</option>
      </select>  
      <br>

      <br>
      <div id="reported-object-dropdown" hidden>
        <label for="reported_object">Name: </label>
        <select id="reported_object" class="form-input">
          <option value="#">Select Value</option>
        </select>
      </div>
      
      <br>

    <label for="feedback_description">Feedback: </label>
	<textarea id="feedback_description" name="feedback_description" class="form-input"></textarea>
  <br>
    <button class="submit-button" type="submit">Submit</button>
  <div class="errors" id="errors">
  </div>
  {{#if success}}
    <div id="feedback-success"><p>Thank you for your feedback!</p></div>
  {{/if}}
  </form>
  {{!-- {{#if isAdmin}}
    <br>
    <form id="get-all-feedback" method="GET" action="/feedback/getAll">
      <button type="submit">View all feedback</button>
    </form>
  {{/if}} --}}
</section>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title"></h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p id="msg"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script src = "/public/js/feedback.js"> </script>