<main>
  <h1>{{data.name}}</h1>
  <p>{{data.desc}}</p>
  <p>Building type: {{data.type}}</p>
  <p>Operating Hours: {{data.operating_hours}}</p>
  <a href="/locations">Back to all locations</a>
</main>