<section>
    <ol>
        {{#each notifications}}
        <li>
        <a href="/notifications/{{this._id}}">{{this.title}}</a>
        <br>
        Description: {{this.event_type}}
        </li>
       {{/each}}
    </ol>
</section>